.TextContainer {
    display: block;
    margin-left: -20px;
    
    .HeadingContainer {
    display: block;
    margin-top: -16px;
    margin-left: -90px;
    

    }

    .heading {
        font-family: "Squada One";
        font-size: 58px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .SubHeadingContainer {
        display: block;
        margin-top: -25px;
        margin-left: -90px;
            
    .subHeading {
        font-family: "Roboto Slab";
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .subHeading1 {
        font-family: "Roboto Slab";
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        margin-top: -12px;
        
        
    }
}
}