$breakpoint-tablet:768px;
$breakpoint-mobile:576px;




.imageContainer{
    display: block;
    margin-top: 55px;
    margin-right: 340px;

    @media (max-width: $breakpoint-tablet) {
        
        max-width:80%;
        margin:0 auto;
        
        
    
    }
    
    @media (max-width: $breakpoint-mobile) {
            
        max-width:80%;
        margin:0 auto;
        
        
    
        }

    .cover {
        height: 577px;
        width: 58%;
        padding: 10px;
        border:3px solid black;

        @media (max-width: $breakpoint-tablet) {
        
            width:100%;
            height: auto;
            
        
        }
    
        @media (max-width: $breakpoint-mobile) {
            
            width:100%;
            height: auto;
            
        
            }
        
    }
}