.headerContainer {
  margin-top: 32px;
  margin-right: 90px;
}
@media (max-width: 768px) {
  .headerContainer {
    margin: 10px auto;
    width: 80%;
  }
}
@media (max-width: 576px) {
  .headerContainer {
    margin: 10px auto;
    width: 80%;
  }
}
