
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Squada+One&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-family: 'Squada One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcf4ea;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
